tmp/schema/pattern.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://universal-corpus.org/schema/v1"
           xmlns:uc="http://universal-corpus.org/schema/v1"
           elementFormDefault="qualified">
  
  <!-- Universal Corpus Pattern XML Schema -->
  <!-- Version 1.0 - Preserves formal mathematical rigor -->
  
  <!-- Root Element -->
  <xs:element name="pattern" type="uc:PatternType"/>
  <xs:element name="concept" type="uc:PatternType"/>
  <xs:element name="flow" type="uc:PatternType"/>
  
  <!-- Pattern Type -->
  <xs:complexType name="PatternType">
    <xs:sequence>
      <xs:element name="metadata" type="uc:MetadataType"/>
      <xs:element name="definition" type="uc:DefinitionType"/>
      <xs:element name="type-definitions" type="uc:TypeDefinitionsType" minOccurs="0"/>
      <xs:element name="properties" type="uc:PropertiesType"/>
      <xs:element name="operations" type="uc:OperationsType"/>
      <xs:element name="dependencies" type="uc:DependenciesType" minOccurs="0"/>
      <xs:element name="manifestations" type="uc:ManifestationsType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="uc:PatternIdType" use="required"/>
    <xs:attribute name="version" type="xs:string" use="required"/>
  </xs:complexType>
  
  <!-- Pattern ID Type -->
  <xs:simpleType name="PatternIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[CPF][0-9]+(\.[0-9]+)?"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Metadata -->
  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="category" type="uc:CategoryType"/>
      <xs:element name="status" type="uc:StatusType"/>
      <xs:element name="complexity" type="uc:ComplexityType" minOccurs="0"/>
      <xs:element name="domains" type="uc:DomainsType" minOccurs="0"/>
      <xs:element name="last-updated" type="xs:date" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="CategoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="concept"/>
      <xs:enumeration value="pattern"/>
      <xs:enumeration value="flow"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="StatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="draft"/>
      <xs:enumeration value="stable"/>
      <xs:enumeration value="deprecated"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ComplexityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="low"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="high"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="DomainsType">
    <xs:sequence>
      <xs:element name="domain" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Definition -->
  <xs:complexType name="DefinitionType">
    <xs:sequence>
      <xs:element name="tuple-notation" type="uc:MathExpressionType"/>
      <xs:element name="components" type="uc:ComponentsType"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="MathExpressionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="format" type="xs:string" default="latex"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="ComponentsType">
    <xs:sequence>
      <xs:element name="component" type="uc:ComponentType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ComponentType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="notation" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Type Definitions -->
  <xs:complexType name="TypeDefinitionsType">
    <xs:sequence>
      <xs:element name="type-def" type="uc:TypeDefType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TypeDefType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="definition" type="uc:MathExpressionType"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Properties -->
  <xs:complexType name="PropertiesType">
    <xs:sequence>
      <xs:element name="property" type="uc:PropertyType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="PropertyType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="formal-spec" type="uc:MathExpressionType"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="invariants" type="uc:InvariantsType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="InvariantsType">
    <xs:sequence>
      <xs:element name="invariant" type="uc:MathExpressionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Operations -->
  <xs:complexType name="OperationsType">
    <xs:sequence>
      <xs:element name="operation" type="uc:OperationType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="OperationType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="signature" type="xs:string"/>
      <xs:element name="formal-definition" type="uc:MathExpressionType"/>
      <xs:element name="preconditions" type="uc:ConditionsType" minOccurs="0"/>
      <xs:element name="postconditions" type="uc:ConditionsType" minOccurs="0"/>
      <xs:element name="effects" type="uc:EffectsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ConditionsType">
    <xs:sequence>
      <xs:element name="condition" type="uc:MathExpressionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EffectsType">
    <xs:sequence>
      <xs:element name="effect" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Dependencies -->
  <xs:complexType name="DependenciesType">
    <xs:sequence>
      <xs:element name="requires" type="uc:PatternRefsType" minOccurs="0"/>
      <xs:element name="uses" type="uc:PatternRefsType" minOccurs="0"/>
      <xs:element name="specializes" type="uc:PatternRefsType" minOccurs="0"/>
      <xs:element name="specialized-by" type="uc:PatternRefsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="PatternRefsType">
    <xs:sequence>
      <xs:element name="pattern-ref" type="uc:PatternIdType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Manifestations -->
  <xs:complexType name="ManifestationsType">
    <xs:sequence>
      <xs:element name="manifestation" type="uc:ManifestationType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ManifestationType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>


